
.btn-downloader {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn-downloader:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
  }

  .downloader-container {
    padding-top: 20px;
  }